<!DOCTYPE html>
<html class="index">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>悦住客户服务管理系统</title>

        <link rel="bookmark" href="img/favicon.ico"/>
        <link rel="shortcut icon" href="img/favicon.ico"/>

        <script src="lib/jquery-1.11.1.min.js"></script>
        <script src="lib/Ecalendar/Ecalendar.jquery.min.js"></script>
        <script src="lib/publicJS.js"></script>
        <script src="js/index.js"></script>

        <link rel="stylesheet" href="lib/publicCSS.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/property.css">
        <link rel="stylesheet" href="css/seller.css">
        <link rel="stylesheet" href="css/user.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/recommendNew.css">
        <link rel="stylesheet" href="css/insideProject.css">

        <link rel="stylesheet" href="lib/Ecalendar/style.css">
        <link rel="stylesheet" href="css/prompt.css">
        <link rel="stylesheet" href="css/moreUser.css">

    </head>

    <body>
       <header>
           <i>悦住客户户服务管理系统</i>
           <div class="set" data-num="1"></div>

           <ul class="set_box">
               <li class="li1">多用户管理</li>
               <li>设置</li>
               <li>退出账号</li>
           </ul>
       </header>


       <!--导航菜单-->
       <ul class="nav">
           <li class="li1" data-num="1">项目管理</li>
           <ul class="object">
               <li><a href="javascript"></a>内部项目</li>
               <li><a href="javascript"></a>外部项目</li>
           </ul>

           <li class="li2" data-num="1">推荐单管理</li>
           <ul class="recomment">
               <li><a href="javascript"></a>新房</li>
               <li><a href="javascript"></a>二手房</li>
           </ul>

           <li class="li3">用户认证管理</li>
           <li class="li4">销售商管理</li>
           <li class="li5">物业公司管理</li>
       </ul>

       <div class="main">
           <!--加载盒子-->
           <div class="box"></div>




           <!--遮罩-->
           <div class="zhezhao"></div>

           <!--提示框-->
           <div class="promptBox">
               <img src="img/chahao9.png"/>
               <p>操作成功！</p>
           </div>



       </div>




       <div class="SignOut">
           <img class="img" src="img/chahao9.png"/>
           <h5>退出登录</h5>
           <p >确定要退出登录吗？</p>
           <button class="moreUserAdopt">确定</button>
           <button class="moreUserNoway">取消</button>
       </div>
    </body>
</html>




