ul li {
  cursor: pointer;
}

.prompt .prt {
  background: #fff;
  padding-bottom: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 801;
}

.prompt .addT{
  padding: 16px 30px 14px;
}
.prompt form > ul > li{
  font-size: 14px;
  padding: 3px 30px;
  position: relative;
}
.prompt form > ul > li:last-child{
  text-align: center;
  margin-top: 15px;
}
.prompt form > ul li strong{
  font-size: 15px;
}
.prompt li label{
  display: inline-block;
  width: 70px;
  font-size: 14px;
}

.prompt input,
.prompt select,
.prompt select option,
.prompt textarea {
  font-size: 14px;
  padding: 3px;
  padding-left: 8px;
  border: 1px solid #d6d6d6;
}
.prompt textarea{
  vertical-align: top;
  resize:none;
}
.prompt .distpicker{
  display: inline-block;
}
.prompt .distpicker select{
  width: 100px;
}
/*添加项目--图片*/
.prompt .addProject .addT ul {
  display: inline-block;
  position: relative;
  top: 9px;
}

.prompt .addProject .addT ul li {
  float: left;
  width: 30px;
  height: 30px;
}

.prompt .addProject .addT ul li img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.prompt .fileImg {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../img/up.png');
  background-size: 100% 100%;
}

.prompt .addHouseType .fileImg ,
.prompt .updateHouseType .fileImg {
  display: inline-block;
  width: 100px;
  height: 80px;
  background: url('../img/up.png');
  background-size: 100% 100%;
}

.prompt .fileImg input {
  width: 100px;
  height: 80px;
  opacity: 0;
  display: block;
}

.prompt .imgUp {
  width: 100%;
  padding-left: 30px;
}
.prompt .imgUp .imgBox{
  float: left;
  width: 410px;
}
.prompt .imgUp .imgBox img{
  width: 40px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.prompt .btn {
  text-align: center;
}

.prompt li button {
  width: 100px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  background: #5a98de;
  border-radius: 5px;
  border: none;
}

/*关闭按钮*/
.prompt .prt .close {
  width: 28px;
  height: 28px;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 2px;
}

/*项目介绍*/
.prompt .prt > h3 {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.prompt .detail {
  background: #fff;
}

.prompt .detail .item{
  padding: 0 30px;
}

.prompt .detail .title {
  height: 38px;
  line-height: 38px;
  font-size: 15px;
}

.prompt .detail .info {
  font-size: 14px;
  width: 380px;
}
.prompt .detail .info textarea{
  /*display: block;*/
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  height: 100%;
}

.prompt .detail .item li {
  padding-left: 15px;
}

.prompt .detail .item li span{
  font-size: 14px;
}

/*添加楼盘*/
.prompt .kd input[type="text"]{
  width: 50px;
}
.addHouses form,
.updateHouses form,
.addHouseType form,
.updateHouseType form{
  padding-top: 20px;
}


.addProject,
.updateProject,
.detail,
.addHouses,
.updateHouses,
.addHouseType,
.updateHouseType {
  display: none;
  position: relative;
}

.prompt input[type="text"]{
  width: 200px;
}
.prompt .icon{
  right: 35px !important;
}

.prompt .updateImgBtn{
  width: 40px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: #5a98de;
  color: #fff;
  border-radius: 3px;
}
.prompt .updateImgBtn .carouselFigureImg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.prompt .updateProject .addT span{
  display: block;
  float: left;
}
.prompt .updateProject .xg{
  padding-left: 90px;
}
.prompt .updateProject .xg ul li img{
  width: 40px;
  height: 30px;
}
.prompt .updateProject .xg ul li{
  width: 40px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}